*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.125)92.5%, rgba(0,0,0,0.5)7.5%), url(2.jpg);
    background-position: center;
    background-size: cover;
    height: 120vh;
}

.navbar{
    width: 100%;
    height: 75px;
    margin: auto;
}

.icon{
    width: 550px;
    float: left;
    height: 70px;
}

.logo{
    width: 100%;
    color: white;
    font-size: 35px;
    font-family: Arial;
    float: left;
    padding-top: 20px;
    padding-left: 120px;
}

.menu ul{
    float: right;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu ul li{
    display: inline;
    width: auto;
    list-style: outside none none;
    padding-right: 54px;
    margin-top: 30px;
    font-size: 20px;
    font-family: Arial;
}

.menu ul li a{
    text-decoration: none;
    color: white;
}

.menu ul li a:hover{
    color: gray;
}

.title{
    width: 100%;
    height: 150px;
    float: center;
    padding-top: 80px;
}

.title h1{
    color: white;
    font-family: Arial;
    font-size: 120px;
    text-align: center;
}

.contact{
    width: 1200px;
    height: 650px;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%);
    border-radius: 10px;
    margin: auto;
}

.contact h3{
    color: white;
    font-family: Arial;
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 20px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: rgb(34, 34, 238);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: rgb(79, 79, 230);
}

.container {
    padding: 50px;
}

.container label {
    font-family: Arial;
    color: white;
    font-size: 20px;
}

.container textarea {
    font-family: Arial;
}
  

