*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.125)92%, rgba(0,0,0,0.5)8%), url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 100%;
    height: 75px;
    margin: auto;
}

.icon{
    width: 550px;
    float: left;
    height: 70px;
}

.logo{
    width: 100%;
    color: white;
    font-size: 35px;
    font-family: Arial;
    float: left;
    padding-top: 20px;
    padding-left: 120px;
}

.menu{
    width: 400px;
    float: right;
    height: 70px;
}

.menu ul{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li{
    list-style: none;
    margin-right: 62px;
    margin-top: 30px;
    font-size: 20px;
    font-family: Arial;
}

.menu ul li a{
    text-decoration: none;
    color: white;
}

.menu ul li a:hover{
    color: gray;
}

.title{
    width: 300px;
    height: 300px;
    float: left;
    padding-left: 150px;
    padding-top: 150px;
}

.title h1{
    color: white;
    font-family: Arial;
    font-size: 150px;
}

.details{
    width: 400px;
    height: 600px;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%);
    position: absolute;
    float: right;
    top: 180px;
    right: 120px;
    border-radius: 10px;
}

.details h2{
    color: white;
    font-family: Arial;
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.details .ceremony{
    width: 360px;
    height: 200px;
    padding-left: 20px;
    padding-top: 40px;
}

.details .ceremony h3{
    color: white;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
}

.details .ceremony ul{
    width: 360px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.details .ceremony ul li{
    list-style: none;
    color: white;
    font-family: Arial;
    font-size: 16px;
    padding-top: 10px;
}

.details .reception{
    width: 360px;
    height: 250px;
    padding-left: 20px;
}

.details .reception h3{
    color: white;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.details .reception ul{
    width: 360px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.details .reception ul li{
    list-style: none;
    color: white;
    font-family: Arial;
    font-size: 16px;
    padding-top: 10px;
}

a:visited {
    text-decoration: none;
    color: white;
}